
body{
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/MultiCam.svg/1280px-MultiCam.svg.png');
background-repeat: no-repeat;
background-size: cover;
}
.col-sm-4{
    padding: 5px;
    background-color: gainsboro;
}

.container{
    background-color: #333;
    color: beige;
    border-radius: 10px;
    align-items: center;
}
.unitlisting{
    background-color: #888067;
    width: 10px;
    border-width: 1px;
    border-color: beige;
    border-style: solid;
    border: 2px solid beige;
}

th, td{
    color: beige;
    padding-left: 50px;
    border: 50px;
    border-color: beige;
    padding-right: 50px;    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
li{
    float: left;
    margin-left: 150px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;  
    text-decoration: none;
}
li a:hover{
    background-color:#d3c7a2;
    color: #333;
}
