
body{
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/MultiCam.svg/1280px-MultiCam.svg.png');
background-repeat: no-repeat;
background-size: cover;
}
.col-sm-4{
    padding: 5px;
    background-color: beige;
}

.container{
    background-color: #333;
    color: beige;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px; 
}

blockquote{
    background-color: #333;
}

.navbar{
    width: 100%;
}
.unitlisting{
    background-color: #888067;
    width: 10px;
    border-width: 1px;
    border-color: beige;
    border-style: solid;
    border: 2px solid beige;
    text-align: center;
    margin: 0 auto;
    padding: 14px 16px;
}

th, td{
    color: beige;
    padding-left: 50px;
    border: 50px;
    border-color: beige;
    padding-right: 50px;    
}

ul {
    list-style-type: circle;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;    
  }



li{
    display: inline-block;
    padding: 14px 16px; 
    
}
li a{
    
    color: white;
    text-anchor: middle;
    
    padding: 14px 16px;  
    text-decoration: none;
}
li a:hover{
    background-color:#d3c7a2;
    color: #333;
}


